###############################################################################
# Stage -- Unit Testing
###############################################################################

notebooks:
  parallel:
    matrix:
      # Sequences combinatorically combine within a list entry
      - NOTEBOOK_DIR: "examples"
        NOTEBOOK_FILE: [
          "pybsm_visualization.ipynb"
        ]

# Job to ensure the provided example script still runs
# NOTE: this version of tests was to confirm the original pybsm_example.py
# functioned properly, just as a dummy placeholder for unit testing. Until
# we've updated this and/or the unit tests, we're using the notebook below.
original-example:
  extends: [.test-setup, .python-versions]
  needs: [pytest] # if unit tests don't pass, don't run the original script
  dependencies: []
  image: python:${PYTHON_VERSION}
  before_script:
    - !reference [.test-setup, before_script]
    - !reference [.needs-headless-opencv, before_script]
  script:
    - poetry run python examples/pybsm_example.py
